<div class="row">
  <div class="col-md-12">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="roomName">Create a new room</label>
        <input type="text" class="form-control" id="roomName" placeholder="Room Name">
      </div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" name="letter-circles-or-squares" value="circles" checked> Circles
        </label>
      </div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" name="letter-circles-or-squares" value="squares"> Squares
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox-inline">
          <input type="checkbox" name="letter-shadows" value="shadows" checked> Shadows
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Create Room</a>
    </form>
  </div>
</div>
