<div class="col-md-12">
  <div class="panel panel-default">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Rooms Names</th>
          <th>Letter Shapes</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
